@model trabajo2Web.ViewModel.ClientViewModel
@{
    ViewBag.Title = "AddEditClient";
}

<div class="row">
    <div class=" col-md-12">
        <form role="form" method="post"
              action="@Url.Action("AddEditClient")">
            @Html.HiddenFor(x => x.clientId)

            <div class="form-group">

                <label>DNI</label>
                @Html.TextBoxFor(x => x.DNI, new { @class = "form-control" })
                <label>First Name</label>
                @Html.TextBoxFor(x => x.firstName, new { @class = "form-control" })
                <label>Last Name</label>
                @Html.TextBoxFor(x => x.lastName, new { @class = "form-control" })
                <label>Sex</label>
                @Html.TextBoxFor(x => x.sex, new { @class = "form-control" })
                <label>Description</label>
                @Html.TextBoxFor(x => x.description, new { @class = "form-control" })
                <label>City</label>
                @Html.DropDownListFor(x => x.cityId, Model.City, "Select City", new { @class = "form-control" })
  
          

            </div>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-save"></i>&nbsp;Guardar
            </button>
        </form>
    </div>
</div>